.pageWrapper {
  position: fixed;
  left: 0;
  right: 0;
  /* top と bottom は inline-style で制御 */
  overflow-y: auto;
  background-color: #f8f9fb;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
